@charset "UTF-8";

/* ------------------------------------------
サイト全体のスタイル
------------------------------------------ */

body {
  color: #000;
  font-weight: 400;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: bottom;
}

li {
  list-style: none;
}

/* ------------------------------------------
共通
------------------------------------------ */

.section__heading {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .section__heading {
    row-gap: 6px;
    margin-bottom: 27px;
  }
}

.section__headingEn {
  color: #168352;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .section__headingEn {
    font-size: 20px;
  }
}

.section__headingJa {
  font-size: 20px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .section__headingJa {
    font-size: 28px;
  }
}

/* Header
------------------------------------------ */

.header {
  display: flex;
  position: sticky;
  top: 0;
  height: 63px;
  justify-content: space-between;
  z-index: 10;
  background-color: #fff;
}

@media (min-width: 768px) {
  .header {
    height: 114px;
    justify-content: center;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .header__inner {
    width: 97.5%;
    max-width: 1170px;
  }
}

.header__logo {
  display: flex;
  margin-left: 16px;
}

@media (min-width: 768px) {
  .header__logo {
    margin-left: unset;
    width: 212px;
  }
}

.header__logoImageWrap {
  display: flex;
  align-items: center;
}

.header__link {
  color: #005BAC;
  font-family: Poppins;
  font-size: 22px;
}

@media (min-width: 768px) {
  .header__link {
    font-size: 28px;
  }
}

.header__menuBtn {
  width: 60px;
  height: 70px;
  padding: 20px;
}

.header__menuIcon {
  width: 24px;
  height: 18px;
}

@media (min-width: 768px) {
  .header__menuBtn {
    display: none;
  }
}

@media (max-width: 767px) {
  .header__hamburgerMenu {
    position: fixed;
    top: 70px;
    width: 91.8%;
    height: 210px;
    margin-left: 4.1%;
    background-color: #168352;
    border-radius: 24px;
    transition: opacity 0.3s linear;
    opacity: 0;
    visibility: hidden;
  }
}

@media (min-width: 768px) {
  .header__nav {
    display: flex;
    width: calc(100% - 212px);
    justify-content: right;
  }
}

@media (max-width: 767px) {
  .header__hamburgerMenu--active {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 767px) {
  .header__hamburgerMenuList {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media (min-width: 768px) {
  .header__navList {
    display: flex;
    align-items: center;
    justify-content: right;
    column-gap: 40px;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .header__hamburgerMenuItem {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
  }
}

@media (min-width: 768px) {
  .header__navItem--hidden {
    display: none;
  }
}

@media (min-width: 768px) {
  .header__navItem {
    font-size: 16px;
    font-weight: 700;
  }
}

@media (min-width: 768px) {
  .header__navItem--green {
    color: #168352;
  }
}

/* Footer
------------------------------------------ */

.footer {
  background-color: #168352;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .footer {
    height: 96px;
  }
}

.footer__inner {
  display: flex;
  height: 20px;
  align-items: center;
}

@media (min-width: 768px) {
  .footer__inner {
    height: 24px;
  }
}

.footer__link {
  padding: 0 20px;
  color: #fff;
  font-size: 13px;
}

@media (min-width: 768px) {
  .footer__link {
    font-size: 15px;
  }
}

.footer__link--notlast {
  border-right: 2px solid #fff;
}


/* Sub page - Cover
------------------------------------------ */

.sub-cover {
  width: 91.8%;
  margin: 0 auto;
  padding: 20px 0 36px;
}

@media (min-width: 768px) {
  .sub-cover {
    width: 97.5%;
    max-width: 1200px;
    padding: 39px 0 0px;
  }
}

@media (min-width: 768px) {
  .sub-cover__inner {
    position: relative;
  }
}

.sub-cover__image {
  width: 100%;
}

.sub-cover__title {
  font-size: 30px;
  font-weight: 700;
  margin: 22px 0;
}

@media (min-width: 768px) {
  .sub-cover__title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 113px;
    width: 327px;
    background-color: #fff;
    border-radius: 0 40px 0 0;
    margin: 0 0 -1px -1px;
    bottom: 0;
    font-size: 36px;
  }
}

.sub-cover__nav {
  display: flex;
  align-items: center;
  justify-content: right;
}

@media (min-width: 768px) {
  .sub-cover__nav {
    margin: 24px 0 32px 0;
  }
}

.sub-cover__navItem {
  font-size: 12px;
}

.sub-cover__navArrow {
  height: 10px;
  margin: 0 8px;
}


/* ------------------------------------------
Top
------------------------------------------ */

/* Cover
------------------------------------------ */

.cover {
  display: block;
  width: 91.8%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .cover {
    width: 97.5%;
    max-width: 1170px;
  }
}

.cover__image {
  display: block;
  object-fit: cover;
  width: 100%;
}

.cover__heading {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 13px 0px 26px 0;
}

@media (min-width: 768px) {
  .cover__heading {
    flex-direction: row;
    margin: 42px 0 58px 0;
  }
}

.cover__headingTitle {
  font-size: 28px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .cover__headingTitle {
    width: 50%;
    font-size: 40px;
    margin: 0 16px 0 34px;
  }
}

.cover__headingDescription {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.75;
}

@media (min-width: 768px) {
  .cover__headingDescription {
    width: 50%;
    margin: 5px 34px 0 16px;
  }
}


/* About
------------------------------------------ */

.about {
  padding-top: 53px;
}

@media (min-width: 768px) {
  .about {
    padding-top: 61px;
  }
}

.about__container {
  position: relative;
}

@media (min-width: 768px) {
  .about__container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1170px;
    margin: 0px auto 64px;
  }
}

@media (min-width: 768px) {
  .about__imageWrap {
    width: 50%;
    padding-right: 36px;
  }
}

.about__image {
  display: block;
  object-fit: cover;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .about__image {
    max-width: 390px;
    object-fit: cover;
  }
}

.about__description {
  position: absolute;
  top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 91.8%;
  margin-left: 4.1%;
  padding: 14px 24px 18px;
  background-color: #fff;
  opacity: 0.8;
  border-radius: 32px;
  line-height: 1.75;
}

@media (min-width: 768px) {
  .about__description {
    position: static;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 50%;
    margin-left: unset;
    /* padding: 100px 75px 0px 100px; */
    padding: 0 75px 0 100px;
    justify-content: center;
  }
}

.about__descriptionLarge {
  color: #111;
  font-size: 18px;
  font-weight: 700;
}

.about__descriptionLarge--pc {
  display: none;
}

@media (min-width: 768px) {
  .about__descriptionLarge {
    display: none;
  }

  .about__descriptionLarge--pc {
    display: block;
    color: #111;
    font-size: 20px;
    font-weight: 700;
  }
}

.about__descriptionSmall {
  color: #111;
  font-size: 15px;
  font-weight: 400;
}


/* Feature
------------------------------------------ */

.feature {
  background-color: #f3f9f6;
  padding: 52px 0 56px;
}

@media (min-width: 768px) {
  .feature {
    padding: 60px 0 64px;
  }
}

.feature__container {
  display: flex;
  flex-direction: column;
  width: 91.8%;
  margin: 0 auto;
  row-gap: 20px;
}

@media (min-width: 768px) {
  .feature__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
    width: 97.5%;
    max-width: 1170px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .feature__item {
    width: 370px;
  }
}

.feature__itemImage {
  width: 100%;
  object-fit: cover;
  border-radius: 24px 24px 0 0;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 5%),
    -0px 0px 5px rgb(0, 0, 0, 5%);
}

@media (min-width: 768px) {
  .feature__itemImage {
    width: 100%;
    object-fit: cover;
  }
}

.feature__itemDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 88px;
  border-radius: 0 0 24px 24px;
  padding: 15px 16px 17px;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.75;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 5%),
    -0px 0px 5px rgb(0, 0, 0, 5%);
}

@media (min-width: 768px) {
  .feature__itemDescription {
    height: 92px;
    padding: 12px 21px 17px;
    font-size: 19px;
  }
}


/* Product Service
------------------------------------------ */

.products {
  padding: 55px 0;
}

@media (min-width: 768px) {
  .products {
    padding: 64px 0;
  }
}

.products__containerWrap {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@media (min-width: 768px) {
  .products__containerWrap {
    row-gap: 40px;
  }
}

.products__container {
  display: flex;
  flex-direction: column;
  width: 91.8%;
  margin: 0 auto;
  row-gap: 20px;
}

@media (min-width: 768px) {
  .products__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
    width: 97.5%;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .products__container--large {
    flex-wrap: nowrap;
  }
}

.products__item {
  display: flex;
  padding: 20px 37px 20px 24px;
  background-color: #168352;
  border-radius: 24px;
  width: 100%;
}

@media (min-width: 768px) {
  .products__item {
    width: 333px;
  }
}

@media (min-width: 768px) {
  .products__item--large {
    padding: 24px 0px 24px 32px;
    width: calc(50% - 25px);
  }
}

.products__itemImage {
  margin-right: 17px;
}

@media (min-width: 768px) {
  .products__itemImage {
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  .products__itemImage--large {
    margin-right: 30px;
  }
}

.products__itemName {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.75;
}

.products__itemName--pc {
  display: none;
}

@media (min-width: 768px) {
  .products__itemName {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .products__itemName--large {
    font-size: 24px;
    width: 45%;
  }
}

@media (min-width: 768px) {
  .products__itemName--sp {
    display: none;
  }
}

@media (min-width: 768px) {
  .products__itemName--pc {
    display: flex;
  }
}


/* Case
------------------------------------------ */

.case {
  padding: 52px 0 50px;
  background-color: #f3f9f6;
}

@media (min-width: 768px) {
  .case {
    padding: 59px 0;
  }
}

.case__container {
  display: flex;
  flex-direction: column;
  width: 91.8%;
  margin: 0 auto;
  row-gap: 27px;
}

@media (min-width: 768px) {
  .case__container {
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
    width: 97.5%;
    max-width: 1170px;
    flex-wrap: wrap;
  }
}

.case__item {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

@media (min-width: 768px) {
  .case__item {
    row-gap: 9px;
  }
}

.case__itemImage {
  width: 100%;
}

@media (min-width: 768px) {
  .case__itemImage {
    width: 369px;
  }
}

.case__itemDescription {
  font-size: 18px;
  font-weight: 700;
  color: #09947b;
  line-height: 1.75;
}

@media (min-width: 768px) {
  .case__itemDescription {
    font-size: 19px;
    width: 369px;
  }
}


/* News
------------------------------------------ */

.news {
  padding: 51px 0 62px;
}

@media (min-width: 768px) {
  .news {
    padding: 59px 0 70px;
  }
}

.news__container {
  display: flex;
  flex-direction: column;
  width: 91.8%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .news__container {
    width: 97.5%;
    max-width: 900px;
  }
}

.news__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: solid 2px #dddddd;
  padding: 16px 0 9.5px;
  row-gap: 8px;
}

@media (min-width: 768px) {
  .news__item {
    flex-direction: row;
    width: 100%;
    border-top: solid 2px #dddddd;
    padding: 16px 0 15px;
    column-gap: 24px;
  }
}

.news__item--last {
  border-bottom: solid 2px #dddddd;
}

.news__itemHead {
  display: flex;
}

.news__itemDate {
  font-size: 15px;
  color: #222222;
  display: flex;
  align-items: center;
  margin-right: 18px;
}

@media (min-width: 768px) {
  .news__itemDate {
    font-size: 14px;
  }
}

.news__itemCategory {
  color: #fff;
  background-color: #473221;
  font-size: 13px;
  width: 134px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.news__itemTitle {
  color: #09947b;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  line-height: 1.75;
}

.news__button {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #09947b;
  width: 300px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px auto 0;
  border-radius: 33px;
  box-shadow: #066655 0 5px;
}

@media (min-width: 768px) {
  .news__button {
    margin: 32px auto 0;
  }
}

/* ------------------------------------------
Price
------------------------------------------ */

/* Common - Section Title
------------------------------------------ */

.price-section__heading {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  border-bottom: solid 3px #dddddd;
  height: 37px;
  margin-bottom: 24px;
  vertical-align: top;
  /* display: block; */
}

.price-section__heading:before {
  position: absolute;
  content: '';
  width: 50px;
  height: 37px;
  border-bottom: solid 3px #168352;
}

@media (min-width: 768px) {
  .price-section__heading {
    font-size: 28px;
    border-bottom: solid 5px #dddddd;
    height: 58px;
    vertical-align: top;
  }
}

@media (min-width: 768px) {
  .price-section__heading:before {
    position: absolute;
    content: '';
    width: 100px;
    height: 58px;
    border-bottom: solid 5px #168352;
  }
}


/* Gallery
------------------------------------------ */

.price-gallery {
  width: 91.8%;
  margin: 0 auto;
  padding-bottom: 34px;
}

@media (min-width: 768px) {
  .price-gallery {
    width: 97.5%;
    max-width: 800px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .price-gallery__heading {
    margin: 57px 0 32px;
  }
}

.price-gallery__image {
  width: 100%;
  /* height: 237px; */
  /* object-fit: cover; */
  border-radius: 24px;
}

@media (min-width: 768px) {
  .price-gallery__image {
    height: unset;
  }
}

.slick-dots {
  bottom: 10px;
  display: flex;
  column-gap: 6px;
  justify-content: center;
}

@media (min-width: 768px) {
  .slick-dots {
    bottom: 22px;
  }
}

.slick-dots li {
  width: 8px;
  height: 8px;
  margin: 0;
}

.slick-dots li button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #eee;
  cursor: pointer;
  padding: 0;
}

.slick-dots li button::before {
  width: 8px;
  height: 8px;
  line-height: normal;
  border-radius: 50%;
  opacity: 0;
}

.slick-dots li button:hover::before,
.slick-dots li.slick-active button::before {
  color: #168352;
  background-color: #168352;
  opacity: 1;
}

/* Feature
------------------------------------------ */

.price-feature {
  width: 91.8%;
  margin: 0 auto;
  padding-bottom: 59px;
}

@media (min-width: 768px) {
  .price-feature {
    width: 97.5%;
    max-width: 800px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .price-feature__heading {
    margin: 6px 0 32px;
  }
}

.price-feature__container {
  display: flex;
  flex-direction: column;
  row-gap: 33px;
}

@media (min-width: 768px) {
  .price-feature__container {
    display: flex;
    flex-direction: row;
    column-gap: 31px;
  }
}

.price-feature__item {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

@media (min-width: 768px) {
  .price-feature__item {
    width: 246px;
  }
}

.price-feature__itemImage {
  width: 100%;
}

.price-feature__itemDescription {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.75;
  margin-right: 2px;
}


/* Price
------------------------------------------ */

.price-price {
  width: 91.8%;
  margin: 0 auto;
  padding-bottom: 59px;
}

@media (min-width: 768px) {
  .price-price {
    width: 97.5%;
    max-width: 800px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .price-price__heading {
    margin: 3px 0 32px;
  }
}

.price-price__price {
  display: flex;
  align-items: baseline;
  margin-top: -6px;
}

.price-price__amount {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  color: #168352;
}

.price-price__tax {
  font-size: 16px;
  font-weight: 700;
  color: #168352;
}


/* Spec
------------------------------------------ */

.price-spec {
  width: 91.8%;
  margin: 0 auto -2px;
  padding-bottom: 64px;
}

@media (min-width: 768px) {
  .price-spec {
    width: 97.5%;
    max-width: 800px;
    margin: 0 auto 6px;
  }
}

@media (min-width: 768px) {
  .price-spec__heading {
    margin: 6px 0 32px;
  }
}

.price-spec__title {
  font-size: 20px;
  font-weight: 700;
  border-left: solid 2px #168352;
  padding-left: 17px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .price-spec__title {
    font-size: 24px;
    max-width: 740px;
    margin: 0 auto 30px;
  }
}

.price-spec__table {
  border-collapse: collapse;
  border: solid 1px #dddddd;
  font-size: 16px;
  width: 100%;
}

@media (min-width: 768px) {
  .price-spec__table {
    max-width: 740px;
    margin: 0 auto;
  }
}

.price-spec__table th {
  border: solid 1px #dddddd;
  background-color: #f5f5f5;
  display: flex;
  height: 39px;
  align-items: center;
  text-align: left;
  padding: 0 10px 0 17px;
}

@media (min-width: 768px) {
  .price-spec__table th {
    display: table-cell;
    height: 63px;
    width: 27%;
    vertical-align: middle;
  }
}

.price-spec__table td {
  border: solid 1px #dddddd;
  display: block;
  display: flex;
  height: 39px;
  align-items: center;
  text-align: left;
  padding: 0 10px 0 17px;
}

@media (min-width: 768px) {
  .price-spec__table td {
    display: table-cell;
    height: 63px;
    padding: 0 10px 0 22px;
  }
}

.price-contact {
  width: 100%;
  position: relative;
}

.price-contact__image {
  width: 100%;
}

.price-contact__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 358px;
  height: 80px;
  border: solid 2px #fff;
  border-radius: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

/* ------------------------------------------
FAQ
------------------------------------------ */

/* FAQ
------------------------------------------ */

.faq-faq {
  width: 91.8%;
  margin: 0 auto;
  padding-bottom: 64px;
}

@media (min-width: 768px) {
  .faq-faq {
    width: 97.5%;
    max-width: 800px;
    margin: 0 auto 8px;
  }
}

.faq-faq__group {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 24px;
  margin-top: 2px;
}

@media (min-width: 768px) {
  .faq-faq__group {
    padding-top: 27px;
  }
}

.faq-faq__item {
  width: 100%;
  border: solid 1px #cccccc;
  border-radius: 16px;
}

.faq-faq__question {
  display: flex;
  justify-content: left;
  align-items: start;
  width: 100%;
  cursor: pointer;
  padding: 24px 24px 16px 24px;
}

.faq-faq__questionLogo {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  color: #168352;
  margin: -5px 16px 0 0;
}

@media (min-width: 768px) {
  .faq-faq__questionLogo {
    margin: -6px 16px 0 6px;
  }
}

.faq-faq__questionTitle {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  line-height: 1.75;
}

@media (min-width: 768px) {
  .faq-faq__questionTitle {
    row-gap: 8px;
  }
}

.faq-faq__questionCat {
  display: flex;
  column-gap: 8px;
}

.faq-faq__questionCatItem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  color: #168352;
  width: 100px;
  height: 24px;
  border: 1px solid #168352;
  border-radius: 4px;
}


.faq-faq__questionTxt {
  display: flex;
  font-size: 16px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .faq-faq__questionTxt {
    font-size: 18px;
  }
}

.faq-faq__questionBtn {
  display: flex;
  width: 37px;
  justify-content: right;
  align-items: start;
}

@media (min-width: 768px) {
  .faq-faq__questionBtn {
    justify-content: center;
  }
}

.faq-faq__questionBtnMinus {
  background-image: url("../image/faq/icon_minux_sp_01.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

.faq-faq__questionBtnPlus {
  background-image: url("../image/faq/icon_plus_sp_01.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.faq-faq__answer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: start;
  border-radius: 0 0 8px 8px;
  margin-top: -5px;
  padding: 0 24px 17px;
}

@media (min-width: 768px) {
  .faq-faq__answer {
    padding: 14px 24px 18.5px 31px;
  }
}

.faq-faq__answerText {
  display: flex;
  font-size: 16px;
  margin-top: -10px;
  line-height: 1.75;
}
